/*****************************Tag selector*****************************************************/


body
{
    color: #40514E;
    margin:0;
    text-align: center;
    font-family:  sans-serif,Sacramento,Verdana, Geneva, Tahoma;
    font-size: 20px;
}
h1{ 
  margin-top: 0; 
  font-family: Sacramento,Roberto,Verdana, Geneva, Tahoma, sans-serif;
  color: #6667bf;

}

h2,h3{
    color:#7966bf; 
  font-family: Sacramento,Roberto,Verdana, Geneva, Tahoma, sans-serif;
  padding-bottom: 10px;

}

      
hr {
    border: dotted rgb(1, 12, 12) 6px;
    border-bottom: none;
    width: 4%;
     
  }
.profile_img{
    height: 250px;
    border-radius: 60%;  
    padding: 30px;
}
.icon_img
{
    height: 150px;
    border-radius: 50%; 
    float: left;
    padding: 30px;  
}
.icon_img1
{
    height: 150px;
    border-radius: 50%; 
    float: right;
    padding: 30px;  
}

.intro{
    width: 30%;
    margin: auto;
}
/*****************************Class selector*****************************************************/

.pro
{
    
  font-family: Sacramento,Roberto,Verdana, Geneva, Tahoma, sans-serif;
 
    line-height: 2;
}

.top-container{
    margin-top: 1em;
    background-color: #EAF6F6; 
    padding: 1%;
    position:relative;
    padding-top: 10px;
    height: fit-content;
}
.middle-container{ 
}
.bottom-container{
 
}

.bottom-cloud
{position: absolute;
    left: 300px;
    bottom: 300px;;

}
 .top-cloud
{
    position: absolute;
    right: 300px;
    top: 50px; 
}

.mountain_pic
{ visibility:visible;
    width: 25%;
}
.skill-row{
    width: 50%;
    margin:100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.earth{
    position: relative;
    width:5%;
}
.earthbckgrnd
{
    position: relative;   
    background-color:#120229;
}
/*****************************id selector*****************************************************/
